git+https://github.com/OpenG2P/odoo-json-field@15.0-develop#subdirectory=setup/g2p_json_field
git+https://github.com/OpenG2P/openg2p-documents@15.0-develop#subdirectory=setup/g2p_documents
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_base
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_individual
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_group
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_membership
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_registry_rest_api
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_bank
git+https://github.com/OpenG2P/openg2p-registry@15.0-develop#subdirectory=setup/g2p_bank_rest_api
git+https://github.com/OpenG2P/openg2p-program@15.0-develop#subdirectory=setup/g2p_programs
git+https://github.com/OpenG2P/openg2p-program@15.0-develop#subdirectory=setup/g2p_program_documents
git+https://github.com/OpenG2P/openg2p-program@15.0-develop#subdirectory=setup/g2p_payment_files
git+https://github.com/OpenG2P/openg2p-program@15.0-develop#subdirectory=setup/g2p_programs_rest_api
git+https://github.com/OpenG2P/openg2p-program@15.0-develop#subdirectory=setup/g2p_entitlement_voucher
git+https://github.com/OpenG2P/openg2p-security@15.0-develop#subdirectory=setup/g2p_encryption
